<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info"
	  internalLogFile="logs/portal-internal.log">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<!--<add assembly="NLog.Targets.ElasticSearch"/>-->
	</extensions>

	<!-- define various log targets -->
	<variable name="nodeName" value="kc.web.portal"/>
	<variable name="logDirectory" value="${basedir}/logs/${nodeName}"/>

	<!-- the targets to write to -->
	<targets async="true">
		<!-- ElasticSearch日志target -->
		<!--<target name="ElasticSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
			<target xsi:type="ElasticSearch"/>
		</target>-->
		<target name="console" xsi:type="Console"></target>
		<target name="file" xsi:type="File" encoding="utf-8" fileName="${logDirectory}/${shortdate}.log" layout="${longdate} [${level}] ${message}" />
		<target name="chainsaw" xsi:type="Network" address="udp://127.0.0.1:7071">
			<layout xsi:type="Log4JXmlEventLayout" />
		</target>
		<!--空白-->
		<target xsi:type="Null" name="blackhole" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--<logger name="*" minlevel="Debug" writeTo="ElasticSearch" />-->
		<logger name="*" minlevel="Error" writeTo="console"/>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Debug" writeTo="chainsaw" />

	</rules>
</nlog>
