<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*" />
				</customHeaders>
			</httpProtocol>
			<staticContent>
				<mimeMap fileExtension="woff" mimeType="font/woff" />
			</staticContent>
			<aspNetCore processPath="dotnet" arguments=".\KC.Web.Resource.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 303067a7-e081-4311-b65d-40229acc37c6-->