@model ErrorViewModel

@{
    ViewData["Title"] = "服务器内部错误";
    Layout = null;
}
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<style>
    .center {
        margin: 0;
        width: 360px;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -180px;
        /*border: 3px solid green;*/
    }

        .center .fa {
            margin-top: -56px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .center p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
</style>
<div class="center">
    <p>500: 服务器内部错误</p>
    <i class="fa fa-exclamation-circle  fa-5x"></i>
</div>
