<div class="row" style="height: 750px;">
    <p style="margin-left:28px;text-indent:30px">
        <span style="font-family: 微软雅黑, sans-serif">本协议为您与财富共赢集团（深圳）有限公司（以下简称 “财富共赢”或“我们”）就财富共赢钱包CFPay（以下简称“本服务”、“钱包”或“钱包服务”）达成的有效契约。请您仔细阅读本协议，您有权选择不使用本服务，如果您选择使用本服务，将视为您同意接收本协议条款及规则的约束。</span>
    </p>
    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>一、</strong><strong><span style="font-family: 宋体">钱包服务内容</span></strong><br />
        <span style="font-family: 微软雅黑, sans-serif">钱包服务是财富共赢向您提供的非金融机构支付服务，您可以通过钱包服务管理银行卡、管理余额、查询账单和密码管理。</span><br />
        <strong>1. 管理银行账户</strong><br /> <span style="font-family: 微软雅黑, sans-serif">您可以在钱包中绑定银行结算账户和管理已绑定的银行结算账户，新添加的结算账户通过认证后，视为成功绑定。</span><br />
        <strong>2. 管理余额</strong><br /> <span style="font-family: 微软雅黑, sans-serif">钱包为您提供账户的充值、提现功能，时刻管控账户余额</span><br />
        <strong>3. 查询账单</strong><br /> <span style="font-family: 微软雅黑, sans-serif">您在使用财富共赢及第三方提供的服务（不仅限于“财富共赢产融协作平台”）产生的各种交易流水信息，可以在钱包中查询。</span><br />
        <strong>4. 交易校验及密码管</strong><br /> <span style="font-family: 微软雅黑, sans-serif">您可以在钱包中绑定交易手机号码并设置账户交易密码，所有与账户交易有关的操作均需通过手机进行校验，账户密码的修改也要通过手机进行校验，请您妥善设置和保管。</span><br />
    </p>

    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>二、</strong><strong><span style="font-family: 微软雅黑, sans-serif">钱包开通、使用和注销</span></strong><br />
        <strong>1. 开通</strong><br /> <span style="font-family: 微软雅黑, sans-serif">钱包依托于“财富共赢产融协作系统”，拥有开通和使用钱包权限的角色或用户有：默认的“商城管理员”和“财务”角色，添加了“账户管理-资金管理”权限的角色或用户。您可以使用上述角色或用户开通和使用钱包。</span><br />
        <strong>2. 使用</strong><br /> <span style="font-family: 微软雅黑, sans-serif">您在使用钱包时受本协议、《财富共赢会员注册须知》和《财富共赢会员服务协议》的条款及规则的约束。使用绑定的手机号码获取的验证码进行的任何操作、发出的任何指令均视为您本人（组织机构）做出。因您的原因造成的账户、密码等信息被冒用、盗用或非法使用，由此引起的一切风险、责任、损失、费用等应由您自行承担。</span><br />
        <strong>3. 注销</strong><br /> <span style="font-family: 微软雅黑, sans-serif">
            如您需终止钱包服务，符合以下条件的，您可以申请注销您的会员帐号或关闭钱包服务：
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            1) 您可以通过人工的方式申请注销会员账户，但如果您使用了钱包服务，请依照下列条件进行注销。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2) 为了维护您和其他用户的合法权益，您申请注销的会员帐号，应当不存在未了结的权利义务或其他因为注销该账户会产生纠纷的情况，不存在任何未完结交易，无余额，无应收账款、应付账款等未了结事项。因注销账户引起的一切风险、责任、损失、费用等应由您自行承担。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            3) 人工申请方式包拨打客服电话400-788-8586或发送邮件至客服邮箱support@cfwin.com。
        </span><br />
    </p>

    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>三、</strong><strong><span style="font-family: 微软雅黑, sans-serif">钱包使用注意事项</span></strong>
    </p>
    <p style="margin-top:auto;margin-bottom:auto;text-indent:0;margin-left:20px"><span style="font-family: 微软雅黑, sans-serif">为有效保障您使用钱包时的合法权益，请您注意以下事项</span><br />
        <strong>1. 身份验证</strong><br /> <span style="font-family: 微软雅黑, sans-serif">
            您在注册会员账户及使用钱包服务时，请您提供合法、真实、有效及完整的资料（包括但不限于组织机构名称、营业执照、法定代表人身份证信息、经办人身份证信息、联系方式、通讯地址）。为了更好保障您的账户安全，如该资料发生变更，请您及时更新资料。为了及时有效地验证您的信息（包括但不限于会员账户信息，钱包服务信息），根据法律法规及监管规定，您同意我们可以把您的信息提供给第三方，以便我们进行验证。您应确保您的会员帐号及系统用户绑定的电子邮箱或手机号为您本人（组织机构）持有。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2. 在如下情形时，我们会对您的钱包暂停或终止提供服务，或对余额进行止付，且有权限制您所使用的系统产品或服务功能：
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            1) 您违反了本协议的约定；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2) 根据法律法规及法律文书的规定；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            3) 根据有权机关的要求；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            4) 您的会员账户操作、资金流向等存在异常时；您的会员账户可能产生风险的；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            5) 您遭到他人投诉，且对方已经提供了一定证据的；除2）、3）规定的情形外，如您申请恢复服务、解除上述止付或限制，请您向我们提供相关资料及身份证明等文件，以便我们进行核实。
        </span><br />
        <strong>3. 钱包服务规则</strong><br /> <span style="font-family: 微软雅黑, sans-serif">
            1) 您认可钱包服务内的应收账款、应付账款及交易流水等账单数据以钱包系统记录为准。如您对该等数据存有异议的，可及时向我们提出异议，并提供相关证据供我们核实。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2) 如您使用应收账款代扣服务的，下面任一情况下均会导致扣款不成功：
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            a) 您的钱包余额不足；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            b) 您的钱包或会员帐号已被采取止付、冻结或其他限制使用权限的措施；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            3) 您应自行承担您使用钱包服务期间的任何货币贬值、汇率波动及收益损失等风险，您可在钱包余额（不含被冻结、止付或其他限制的款项）的金额范围内享有对该等款项查询、充值、支付、提现的权利。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            4) 钱包所记录的资金余额不同于您本人（组织机构）的银行存款，不受《存款保险条例》保护，其实质为您在钱包保管的、所有权归属于您的预付价值。该预付价值对应的货币资金属于您，并以您本人（组织机构）名义存放在银行，且由钱包向银行发起资金调拨指令。
        </span><br />

        <strong>4. 服务费用</strong><br /> <span style="font-family: 微软雅黑, sans-serif">
            在您使用钱包服务时，我们有权依照《财富共赢钱包CFPay服务收费规则》向您收取服务费用。我们拥有制定及调整服务费之权利，具体服务费用以您使用钱包服务时本网站或产品页面上所列之收费方式公告或您与我们达成的其他书面协议为准。除非另有说明或约定，您同意我们有权从充值、提现、收（付）款等各项交易的款项或您钱包余额中直接扣除上述服务费用。
        </span><br />
    </p>

    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>四、</strong><strong></strong><strong><span style="font-family: 微软雅黑, sans-serif">权益保障及隐私保护</span></strong><br />
        <strong>1. 用户权益保障承诺</strong><br /> <span style="font-family: 微软雅黑, sans-serif">为保障您在使用服务时的合法权益，钱包向您承诺按照《财富共赢会员服务协议》保障您的权益。</span><br />
        <strong>2. 用户资金保障</strong><br /> <span style="font-family: 微软雅黑, sans-serif">钱包始终重视保护用户的资金安全，将自有资金和用户资金分开存放，承诺不挪用、占用用户资金。如您在使用钱包服务过程中，由于您的钱包账户被盗用造成资金损失，经财富共赢同意，您可授权财富共赢代表您向相关责任第三方或赔付机构进行追偿。</span><br />
    </p>


    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>五、</strong><strong></strong><strong><span style="font-family: 微软雅黑, sans-serif">不可抗力、免责及责任限制</span></strong><br />
        <strong>1. 免责条款</strong><br />
        <span style="font-family: 微软雅黑, sans-serif">
            1) 钱包系统停机维护或升级；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2) 因台风、地震、洪水、雷电或恐怖袭击等不可抗力原因；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            3) 用户的电脑软硬件和通信线路、供电线路出现故障的；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            4) 用户操作不当或通过非钱包授权或认可的方式使用钱包服务的；
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            5) 因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因 、第三方服务瑕疵或政府行为等原因。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            6) 尽管有前款约定，钱包将采取合理行动积极促使服务恢复正常。
        </span><br />

        <strong>2. 钱包责任范围及责任限制</strong><br />
        <span style="font-family: 微软雅黑, sans-serif">
            1) 钱包用户信息是由用户本人（组织机构）自行提供的，钱包无法保证该信息之准确、及时和完整。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2) 钱包可能同时为您及您的（交易）对手方提供钱包服务，您同意对钱包可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张钱包在提供钱包服务时存在法律上的瑕疵。
        </span><br />
    </p>


    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>六、</strong><strong></strong><strong><span style="font-family: 微软雅黑, sans-serif">知识产权的保护</span></strong><br />
        <span style="font-family: 微软雅黑, sans-serif">
            1. 钱包及关联公司所有系统及本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由钱包或关联公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            2. 非经钱包或关联公司书面同意，任何人不得擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。
        </span><br />
        <span style="font-family: 微软雅黑, sans-serif">
            3. 尊重知识产权是您应尽的义务，如有违反，您应承担损害赔偿责任。
        </span><br />
    </p>

    <p style="margin-top:auto;margin-bottom:auto;margin-left:20px">
        <strong>七、</strong><strong></strong><strong><span style="font-family: 微软雅黑, sans-serif">法律适用与管辖</span></strong><br />
        <span style="font-family: 微软雅黑, sans-serif">
            本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由深圳市罗湖区人民法院管辖。
        </span><br />
    </p>

    <p>
        <br />
    </p>
</div>
