
<div id="toolbarF" style="padding:5px;height:auto">
    <div id="divSearchMenuF" class="easyui-menu" style="width:120px">
        <div data-options="name:'Server'">服务器</div>
        <div data-options="name:'Database'">数据库</div>
        <div data-options="name:'TenantName',selected:true">客户名</div>
    </div>
    <input id="txtSearchboxF" class="easyui-searchbox" style="width:300px;height: 26px;" />
</div>
@*<table class="dialog-form-table" id="datagridF" name="datagridF" data-options=" iconCls: 'icon-standard-text-list-bullets'"></table>*@
<table id="datagridF" title="租户列表" data-options="iconCls: 'icon-standard-text-list-bullets'"></table>
