@model ErrorViewModel

@{
    ViewData["Title"] = "服务器内部错误";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var error = Model?.Error?.Error;
    var errorDescription = Model?.Error?.ErrorDescription;
    var request_id = Model?.Error?.RequestId;
}


@section styles{
    
}
<div class="main">
    <div class="error-page" style="text-align:center;vertical-align:middle;">
        <div class="lead">
            <h1>Error</h1>
            <h2 class="text-danger">505 访问出错，服务器内部错误.</h2>
            <i class="fa fa-exclamation-circle  fa-5x"></i>
        </div>
        <div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="alert alert-danger">
                    错误消息如下：

                    @if (error != null)
                    {
                        <strong>
                            <em>
                                : @error
                            </em>
                        </strong>

                        if (errorDescription != null)
                        {
                            <div>@errorDescription</div>
                        }
                    }
                </div>

                @if (request_id != null)
                {
                    <div class="request-id">请求Id: @request_id</div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
}