@{
    ViewData["Title"] = "注销账户";
    ViewData["signed-out"] = true;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="main">
    <div class="text-center" style="margin-top:120px">
        <h2>@ViewData["Title"]</h2><br />
        <p>
            成功注销账户
        </p>
    </div>
</div>
