@model KC.Web.SSO.AccountViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘记密码";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@section styles{
    <style>
    .layui-form-item .layui-inline{width:460px}
    .layui-form-item .layui-inline .layui-input-inline .layui-input{width:300px}
    .layui-form-item .layui-inline .layui-form-label{width:110px;height:38px;border:1px solid #e6e6e6;background-color:#FBFBFB;box-sizing:border-box;border-radius:2px 0 0 2px;}
    .layui-form-item.error{margin:-10px 0 10px 0}
    .layui-form-item.error .layui-input-inline{width:460px;margin:0}
    .layui-form-item.error span{color:red;display:none;height:10px}
    .layui-btn{background-color:#009add;color:#fff}
    .layui-btn-disabled{background-color:#fff;color:#c9c9c9}

    .step-item-head {border: 1px solid #009add!important}
    .step-item-head.step-item-head-active{background:#009add!important}
        
    </style>
}

<div class="layui-fluid" style="padding-top: 120px;">
    <div class="layui-card">
        <div class="layui-card-body">
            <div id="stepForm" class="layui-carousel" lay-filter="stepForm" style="margin: 0 auto;">
                <div carousel-item>
                    <div>
                        <form id="verifyForm" class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            @Html.AntiForgeryToken()
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label for="Phone" class="layui-form-label">手机号</label>
                                    <div class="layui-input-inline">
                                        <input autocomplete="off" class="layui-input"
                                               lay-verify="required|phone|validPhone"
                                               data-val="true"
                                               data-val-phone="手机 字段不是有效的电话号码。"
                                               data-val-regex="手机号码格式不正确"
                                               data-val-regex-pattern="1[0-9]{10}$"
                                               data-val-required="手机必填"
                                               id="Phone" name="Phone"
                                               placeholder="请输入手机号"
                                               type="text" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item error">
                                <div class="layui-inline">
                                    <span id="phoneTip" style="float: left;"></span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label for="imgCode" class="layui-form-label">图形验证码</label>
                                    <div class="layui-input-inline">
                                        <input autocomplete="off" class="layui-input " style="width: 180px;"
                                               lay-verify="required"
                                               data-val="true"
                                               data-val-length="字段 图形验证码 必须是最大长度为 6 的字符串。"
                                               data-val-length-max="6"
                                               data-val-required="图形验证码必填"
                                               id="imgCode" name="imgCode" placeholder="请输入图形验证码"
                                               type="text"
                                               value="" />

                                    </div>
                                    <input type="hidden" name="mvcCaptchaGuid"
                                           id="mvcCaptchaGuid"
                                           value="caa862a95f994f329a6098fe6155572a" />

                                    <img id="imgCaptcha" style="cursor: pointer;" src="/Home/GetCaptchaImage" alt="验证码" />

                                    <a href="javascript:reloadMvcCaptchaImage()">换一张</a>
                                </div>
                            </div>
                            <div class="layui-form-item error">
                                <div class="layui-inline">
                                    <span class="field-validation-valid" style="float: left;" data-valmsg-for="imgCode"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label for="Code" class="layui-form-label">手机验证码</label>
                                    <div class="layui-input-inline">
                                        <input autocomplete="off" class="layui-input " style="width: 180px;"
                                               lay-verify="required|validCode|phoneCode"
                                               data-val="true"
                                               data-val-maxlength="请输入6位验证码"
                                               data-val-maxlength-max="6"
                                               data-val-required="手机验证码必填"
                                               id="Code" name="Code" placeholder="请输入接收到的验证码"
                                               type="text"
                                               value="" />

                                    </div>
                                    <a id="btnSendPhoneCode" onclick="generateVerfiyPhoneCode()" style="cursor: pointer" class="layui-btn">获取短信验证码</a>
                                </div>
                            </div>
                            <div class="layui-form-item error">
                                <div class="layui-inline">
                                    <span id="sendPhoneTip" style="color: #3c763d;display: none; float: left;">验证码已发送至您的手机，请查收！</span>
                                    <span id="codeTip" style="float: left;"></span>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-inline" style="text-align: center;">
                                    <button class="layui-btn" lay-submit lay-filter="btnVerifyPhone">
                                        &emsp;下一步&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <form id="changePasswordForm" class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ReturnUrl)
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">登录用户</label>
                                    <div class="layui-input-inline">
                                        <input id="PhoneNumber" name="PhoneNumber" type="text" class="layui-input" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item error">
                                <div class="layui-inline">
                                    <span style="float: left;"></span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label for="Password" class="layui-form-label">登录密码</label>
                                    <div class="layui-input-inline">
                                        <input autocomplete="off" class="layui-input"
                                               lay-verify="required|password"
                                               data-val="true"
                                               data-val-length="密码长度必须在6位与12位之间。"
                                               data-val-length-max="12"
                                               data-val-length-min="6"
                                               data-val-required="密码必填"
                                               id="Password" name="Password"
                                               placeholder="区分大小写 必须包含字母与数字" type="password" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item error">
                                <div class="layui-inline">
                                    <span class="field-validation-valid" style="float: left;" data-valmsg-for="Password"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label for="ConfirmPassword" class="layui-form-label">确认密码</label>
                                    <div class="layui-input-inline">
                                        <input autocomplete="off" class="layui-input"
                                               lay-verify="required|password|confirmPassword"
                                               data-val="true"
                                               data-val-length="密码长度必须在6位与12位之间。"
                                               data-val-length-max="12"
                                               data-val-length-min="6"
                                               data-val-required="密码必填"
                                               id="ConfirmPassword" name="ConfirmPassword"
                                               placeholder="区分大小写 必须包含字母与数字" type="password" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item error">
                                <div class="layui-inline">
                                    <span id="confirmPasswordTip" style="float: left;"></span>
                                    <span class="field-validation-valid" style="float: left;" data-valmsg-for="ConfirmPassword"
                                          data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block" style="text-align: center;margin:0px;">
                                    <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                    <button id="btnChangePassword" class="layui-btn" lay-submit lay-filter="btnChangePassword">
                                        &emsp;确认更改&emsp;
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div style="text-align: center;margin-top: 90px;">
                            <i class="layui-icon layui-circle" style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                            <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                更改密码成功
                            </div>
                        </div>
                        <div style="text-align: center;margin-top: 50px;">
                            <a href="/Account/Login?returnUrl=/Main/Index" class="layui-btn layui-btn-primary">重新登录</a>
                            <a href="/Home/Index" class="layui-btn layui-btn-primary">返回主页</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div style="color: #666;margin: 10px 0;padding-left: 30px;display:none;">
                <h3>说明</h3><br>
                <p>验证完手机后，方可更改此账号的密码进行登录。</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!--组件初始化-->
    <script type="text/javascript">
        layui.config({
            base: '@(ViewBag.ResWebDomain)lib/layui/plugins/'
        }).extend({ //设定模块别名
            step: '{/}@(ViewBag.ResWebDomain)lib/layui/plugins/step/step'
        }).use(['form', 'step'], function () {
            var $ = layui.$
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            var step = layui.step;

            //自定义验证规则
            form.verify({
                validPhone: function (value) {
                    return validPhone();
                }, validCode: function (value) {
                    return validCode(true);
                }, phoneCode: function (value) {
                    if (value.length != 6) {
                        return '提示：请输入6位验证码';
                    }
                }, password: function (value) {
                    if (value.length < 6 && value.length > 12) {
                        return '提示：密码长度必须在6位与12位之间';
                    }
                }, confirmPassword: function (value) {
                    return validPassword();
                }, phone: function (value) {
                    if (!String.isMobile(value)) {
                        return '提示：请输11位的手机号';
                    }
                }
            });
            form.render();

            step.render({
                elem: '#stepForm',
                filter: 'stepForm',
                width: '100%', //设置容器宽度
                stepWidth: '700px',
                height: '360px',
                stepItems: [{
                    title: '身份验证'
                }, {
                    title: '修改密码'
                }, {
                    title: '完成'
                }]
            });

            form.on('submit(btnVerifyPhone)', function (data) {
                if (isValidPhone && isValidCode) {
                    $('#PhoneNumber').val($phone.val());
                    step.next('#stepForm');
                }

                return false;
            });

            form.on('submit(btnChangePassword)', function (data) {
                let success = changePassword();
                if (success)
                    step.next('#stepForm');

                return false;
            });

            $phone.on('blur', function () {
                validPhone();
            })
            $code.on('blur', function () {
                validCode(false);
            })
            $confirmPassword.on('blur', function () {
                validPassword();
            })

            $('.pre').click(function () {
                step.pre('#stepForm');
            });
            $('.next').click(function () {
                step.next('#stepForm');
            });

            changeBtnSendCode(true);
        });

    </script>
    <!--表单验证-->
    <script type="text/javascript">
        
        let $phone = $('#Phone');
        let $phoneTip = $('#phoneTip');
        let isValidPhone = false;
        const verfiyPhone = '/Account/VerfiyPhone';
        function validPhone() {
            let message = '';
            let value = $phone.val();
            isValidPhone = String.isMobile(value)
            if (!isValidPhone) {
                $phoneTip.text("提示：请输11位的手机号").show();
                return "提示：请输11位的手机号";
            }

            $.ajax({
                url: verfiyPhone,
                dataType: 'json',
                async: false,
                data: {
                    phone: value
                },
                success: function (response) {
                    if (response.success) {
                        if (response.result) {
                            isValidPhone = true;
                        } else {
                            isValidPhone = false;
                            message = "提示：该手机号还未注册，请注册后登录系统";
                        }
                    } else {
                        isValidPhone = false;
                        message = response.message;
                    }
                }
            });

            if (isValidPhone) {
                $phoneTip.hide();
                changeBtnSendCode(false);
            } else {
                $phoneTip.text(message).show();
                changeBtnSendCode(true);
            } 

            return message;
        }

        let $code = $('#Code');
        let $codeTip = $('#codeTip');
        let isValidCode = false;
        const verfiyPhoneCode = '/Account/VerfiyPhoneCode';
        function validCode(isCheckCode) {
            let message = '';
            let value = $code.val();
            let regExp = /^\d{6}$/;
            isValidCode = regExp.test(value);
            if (!isValidCode) {
                $codeTip.text("提示：请输入6位手机验证码").show();
                return "提示：请输入6位手机验证码";
            }

            let validMsg = validPhone();
            if (isCheckCode && isValidCode && validMsg == '') {
                $.ajax({
                    url: verfiyPhoneCode,
                    dataType: 'json',
                    async: false,
                    data: {
                        phone: $phone.val(),
                        code: $code.val()
                    },
                    success: function (response) {
                        if (response.success) {
                            isValidCode = true;
                        } else {
                            isValidCode = false;
                            message = response.message;
                        }
                    }
                });
            } else {
                isValidCode = true;
                message = "";
            }

            if (isValidCode) {
                $codeTip.hide();
                changeBtnSendCode(false);
            } else {
                $codeTip.text(message).show();
                changeBtnSendCode(true);
            } 

            return message;
        }

        let $confirmPassword = $('#ConfirmPassword');
        let $confirmPasswordTip = $('#confirmPasswordTip');
        let isValidPassword = false;
        function validPassword() {
            let message = '';
            let value = $confirmPassword.val();
            isValidPassword = value.length >= 6 && value.length <= 12;
            if (!isValidPassword) {
                $confirmPasswordTip.text('提示：密码长度必须在6位与12位之间').show();
                return '提示：密码长度必须在6位与12位之间';
            }

            isValidPassword = $('input[name=Password]').val() === value;
            if (isValidPassword) {
                $confirmPasswordTip.hide();
            } else {
                message = '提示：两次输入密码不一致';
                $confirmPasswordTip.text(message).show();
            } 

            return message;
        }
    </script>
    <!--身份验证-->
    <script type="text/javascript">

        function reloadMvcCaptchaImage() {
            var ci = document.getElementById('imgCaptcha');
            var sl = ci.src.length;
            if (ci.src.indexOf("&") > -1)
                sl = ci.src.indexOf("&");
            if (ci.src.indexOf("?") < 0)
                ci.src = ci.src.substr(0, sl) + "?" + (new Date().valueOf());
            else
                ci.src = ci.src.substr(0, sl) + "&" + (new Date().valueOf());
        }

        function getCookie() {
            //获取Cookie值
            var strCookie = document.cookie;
            var arrCookie = strCookie.split("; ");
            for (var i = 0; i < arrCookie.length; i++) {
                var arr = arrCookie[i].split("=");
                if (arr[0] === 'kcloudy-captchacode') {
                    //console.info('----kcloudy-captchacode: ' + arr[1])
                    return arr[1];
                }
            }
            return "";
        }

        //发送手机验证码
        let $btnSendCode = $('#btnSendPhoneCode');
        let $sendPhoneTip = $('#sendPhoneTip');
        const sendCode = '/Account/GenerateVerfiyPhoneCode';
        function generateVerfiyPhoneCode() {
            var validMsg = validPhone();
            if (validMsg == '' && $btnSendCode.attr('disabled') !== 'disabled') {
                changeBtnSendCode(true);
                $code.val(''); //清空验证码

                //调用验证码校验方法
                var data = {
                    phone: $phone.val(),
                    answer: encodeURI($("#imgCode").val()),
                    captcha: decodeURI(getCookie()),
                    captchaId: $('#mvcCaptchaGuid').val(),
                };
                let jsonData = JSON.stringify(data);
                $.ajax({
                    async: true,
                    cache: false,
                    url: sendCode,
                    headers: { 'RequestVerificationToken': $('[name=__RequestVerificationToken]').val() },
                    type: "post",
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8",
                    data: jsonData,
                    //contentType: "application/x-www-form-urlencoded;charset=UTF-8",
                    //data: data,
                    success: function (response) {
                        reloadMvcCaptchaImage();
                        if (response.success) {
                            $sendPhoneTip.show();
                            $codeTip.hide();
                            sendVerifyCode(60, "获取短信验证码");
                        } else {
                            changeBtnSendCode(false);
                            $codeTip.html(response.message).show().fadeOut(5000);
                        }
                    },
                    error: function () {
                        changeBtnSendCode(false);
                        $sendPhoneTip.hide();
                        $.get('/Account/RefreshToken', function (newToken) {
                            $("input[name='__RequestVerificationToken']").val(newToken);
                        });
                    }
                });
            }
        }

        function changeBtnSendCode(disabled) {
            if (disabled) {
                $btnSendCode.attr('disabled', true).css("pointer-events", "none");
                $btnSendCode.addClass("layui-btn-disabled").attr("disabled", true);
            } else {
                $btnSendCode.removeAttr('disabled').css("pointer-events", "auto");
                $btnSendCode.removeClass("layui-btn-disabled").attr("disabled", false);
            }
        }

        //发送验证码读秒
        var timer = null;
        var leftTime = 120;
        function minusTime(text) {
            if (leftTime > 0) {
                leftTime--;
                changeBtnSendCode(true);
                $btnSendCode.text(leftTime + '秒后重新获取');
            } else {
                changeBtnSendCode(false);
                $btnSendCode.text(text);
                $sendPhoneTip.hide();
                clearInterval(timer);
            }
        }

        function sendVerifyCode(time, text) {
            leftTime = time;
            timer = window.setInterval(function () {
                minusTime(text);
            }, 1000);
        }

    </script>
    <!--提交修改密码-->
    <script type="text/javascript">
        var $btnChangePassword = $('#btnChangePassword');
        const registerUrl = '/Account/ForgotPassword';
        function changePassword() {
            layer.load(2);
            let success = false;
            var validMsg = validPassword();
            if (validMsg == '' && $btnChangePassword.attr('disabled') !== 'disabled') {
                let formData = CommonUtil.getFormData('#changePasswordForm');
                let postData = AddAntiForgeryToken(formData);
                $btnChangePassword.text('修改密码中......');
                $btnChangePassword.addClass("layui-btn-disabled").attr("disabled", true);
                $.ajax({
                    async: false,
                    url: registerUrl,
                    type: 'POST',
                    dataType: 'json',
                    data: postData,
                    success: function (result) {
                        layer.closeAll('loading');
                        success = result.success;
                        if (!success) {
                            layer.msg(result.message);
                        }
                        $btnChangePassword.text('确认更改');
                        $btnChangePassword.removeClass("layui-btn-disabled").attr("disabled", false);
                    },
                    error: function () {
                        layer.closeAll('loading');
                        layer.msg('更改密码失败，请重试！');
                        success = false;
                        $btnChangePassword.text('确认更改');
                        $btnChangePassword.removeClass("layui-btn-disabled").attr("disabled", false);
                    }
                });
            }

            return success;
        }
    </script>
}
