@charset "utf-8";@font-face{font-family:'Glyphicons Halflings';src:url(/Content/fonts/glyphicons-halflings-regular.eot);src:url(/Content/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(/Content/fonts/glyphicons-halflings-regular.woff) format('woff'),url(/Content/fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(/Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular) format('svg')}
@charset "utf-8";@font-face{
  font-family:'FontAwesome';
  src:url('/Content/css/font/fontawesome-webfont.eot?v=3.0.1');
  src:url('/Content/css/font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('/Content/css/font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('/Content/css/font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight:normal;
  font-style:normal }
@font-face {
  font-family: 'icomoon';
  src:  url('/Content/fonts/icomoon.eot?a5x131');
  src:  url('/Content/fonts/icomoon.eot?a5x131#iefix') format('embedded-opentype'),
    url('/Content/fonts/icomoon.ttf?a5x131') format('truetype'),
    url('/Content/fonts/icomoon.woff?a5x131') format('woff'),
    url('/Content/fonts/icomoon.svg?a5x131#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

abbr,article,aside,blockquote,body,command,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,input,li,mark,meter,nav,ol,output,p,pre,progress,section,summary,time,ul{font-family:'微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial}
body,html,li,ul{margin:0;padding:0}
body{min-width: 1200px}
ul li{list-style:none}
a,a:hover{text-decoration:none;cursor:pointer!important}
.white{color:#fff}
input{outline:0}
.topbar .starlu.menu-bd{width:100px}
.topbar .member-service.menu-bd{width:80px}
.menu-reg{width:50%;float:left}
.menu-bd.service{width:150px}
.clearfix:after{content:"";display:block;clear:both}
.clearfix{zoom:1}
.banner{width:750px;height:315px;position:relative;overflow:hidden;margin-bottom:0;float:left;padding:10px;padding-top:0}
.banner-btn{display:none}
.banner-btn a{display:block;line-height:40px;position:absolute;top:120px;width:40px;height:40px;background-color:#000;opacity:.3;filter:alpha(opacity=30) color:rgb(255, 255, 255);overflow:hidden;z-index:4}
.prevBtn{left:5px}
.nextBtn{right:5px}
.banner-img{font-size:0;letter-spacing:-3px;position:relative}
.banner-img li{display:inline-block;vertical-align:top;letter-spacing:normal;word-spacing:normal;font-size:12px}
.banner i{background:url(/Content/images/v2.0/smicon.png) no-repeat;width:15px;height:23px;cursor:pointer;margin:8px 0 0 12px;display:block}
.banner .nextBtn i{background-position:-200px -24px}
.banner .prevBtn i{background-position:-200px 0}
.banner-circle{position:absolute;left:50%;bottom:15px;height:13px;text-align:center;font-size:0;border-radius:10px;background:rgba(255,255,255,.3);filter:alpha(opacity:30)}
.banner-circle li{border-radius:10px;margin:2px;display:inline-block;display:-moz-inline-stack;vertical-align:middle;zoom:1}
.banner-circle li a{display:block;padding-top:9px;width:9px;height:0;border-radius:50%;background:#B7B7B7;overflow:hidden}
.banner-circle .selected a{background:#F40}
.clear{clear:both}
.yy_wrapper{position:relative;margin:0 auto;width:1200px;padding:0}
.yy_hengtiao,.yy_hengtiao_2,.yy_hengtiao_3,.yy_hengtiao_4{position:relative;width:100%;height:50px;text-align:center;color:#fff;font-size:18px;background:#f63;line-height:49px;margin-top:40px}
.yy_hengtiao_2{background:url(/Content/images/v2.0/tiao_2.png) #f60}
.yy_hengtiao_3{background:url(/Content/images/v2.0/tiao_3.png) #f90}
.yy_hengtiao_4{background:url(/Content/images/v2.0/tiao_4.png) #fc0}
.w4gezi{width:920px;position:relative;float:left;margin:0;color:#000}
.w3gezi{width:695px;position:relative;float:left;margin:0;color:#000}
.yy_gezi{width:227px;height:180px;position:relative;float:left;display:block;border:1px solid #d8d4d4;padding:0;-webkit-transition:all .2s linear;transition:all .2s linear;z-index:2}
.yy_gezi:hover{-webkit-box-shadow:0 15px 30px rgba(0,0,0,.1);box-shadow:0 15px 30px rgba(0,0,0,.1);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0);border:1px solid #f63}
.yy_gezi_tb{text-align:left;width:100%;margin:0;padding:0;text-indent:15px}
.yy_gezi_tb tr th{background:#f3f3f3;font-weight:lighter;height:38px;width:100%;border:1px solid #f63;border:none;font-size:15px;font-weight:bolder}
.yy_gezi_tb tr{background:#f3f3f3;font-weight:light;height:26px;font-size:12px;background:0 0;color:#484848}
.yy_baojia{text-align:center;border:1px solid #f30;color:#f30;text-decoration:none;margin:0 auto;display:block;font-size:16px;width:80px;height:30px;line-height:29px;font-weight:bolder;margin-top:8px}
.yy_baojia:hover{background:#f30;color:#fff}
.yy_dl_content{position:relative;margin:0;padding:0;width:100%}
.yy_rt_cont{position:relative;float:left;width:290px;border:1px solid #d8d4d4;margin-left:-12px}
.yy_rt_cont ul{list-style:none;padding-left:10px;margin:0 auto;width:90%}
.yy_rt_cont ul li{position:relative;list-style:none;height:65px;margin:20px;margin-left:0;border-bottom:1px dotted #d8d4d4;color:#868383;-webkit-transition:all .2s linear;transition:all .2s linear}
.yy_rt_cont ul li .imgbox{width:45%;display:inline-flex;float:left}
.yy_rt_cont ul li a{text-decoration:none;color:inherit}
.yy_rt_cont ul li:hover{-webkit-box-shadow:0 15px 30px rgba(0,0,0,.1);box-shadow:0 15px 30px rgba(0,0,0,.1);-webkit-transform:translate3d(0,-2px,0);transform:translate3d(0,-2px,0)}
.smrtbox{display:inline-flex;float:left;width:50%;font-size:12px;overflow:hidden;line-height:23px;height:18px;overflow:hidden}
.yy_more{position:absolute;right:30px;font-size:12px;line-height:54px;text-decoration:none;color:#fff}
.yy_more:hover{color:#000}
.w200{width:200px!important}
.yy_list_2{float:left;width:250px;border:1px solid #d8d4d4}
.yy_list_2 p{color:#f60;text-align:center;font-size:19px;line-height:43px}
.yy_list_2 ul{list-style:none;width:80%;margin:0 10%}
.yy_list_2 ul li{text-align:center}
.yy_list_2 ul li a{margin-right:14px;color: inherit;display: inherit;}
a{text-decoration:none;color:#7d7b7b}
.yy_gezi_tb tr td i{color:#f63}
.tb2{width:100%;border:1px solid #f60;z-index:3}
.tb2 table tr th{background:#f60;margin:0;color:#fff}
.tb2 img{position:absolute;top:50px;right:20px}
.yy_tblistyou{margin-left:-14px;width:267px;height:540px;overflow:hidden}
.yy_tblistyou ul li span i{color:#f60}
.yy_tblistyou ul li span{float:right;width:46px;height:20px;margin-right:20px}
.yy_tblistyou ul li{border-bottom:1px dashed #d8d4d4;font-size:14px;margin-top:3px;line-height:20px;overflow:hidden;line-height:38px}
.yy_tblistyou ul li a{width:150px;word-break:keep-all;overflow:hidden;overflow:hidden;text-overflow:ellipsis;display:inline-flex}
.yy_zhaobiao ul li{height:100px;line-height:20px;margin:16px;text-align:left}
.yy_zhaobiao ul li a{width:100%}
.yy_zhaobiao p{text-indent:20px;text-align:left}
.yy_zhaobiao ul{width:100%;left:0;list-style:none;margin:0;padding:0}
.zhaobiaogengduo{position:absolute;right:12px;top:17px;font-size:14px}
.yy_zhaobiao ul li table tr td{font-size:12px}
.tuijian_ul_caigou li{height:30px}
.yy_ban_log{position:absolute;float:left;width:250px;height:476px;border:1px solid #d2cfcf;display:block;right:0;background:#fff;margin-top:0}
.yy_ban_log .yy_loglog{list-style:none;margin:0 auto;width:100%;position:relative;list-style:none;height:88px;margin-top:15px;color:#868383;-webkit-transition:all .2s linear;transition:all .2s linear}
.gongyings{width:150px;margin:0 auto;height:40px;text-align:center}
.yy_ban_log .yy_loglog .imgbox{width:75px;display:inline-flex;float:left;padding-left:22px;position:relative}
.yy_ban_log .yy_loglog .smrtbox{height:inherit;width:140px;display:inherit;padding-left:0}
.yy_ban_log .yy_loglog .smrtbox p{display:inline-flex;margin:0;line-height:25px}
.yy_ban_log .yy_loglog .smrtbox i{display:inline-flex;color:#f63;font-style:normal}
.logqiehuan{position:relative;clear:both}
.logqiehuan .lead_tab ul li{position:relative;float:left;list-style:none;line-height:40px;cursor:pointer}
.yy_logreg{position:relative;clear:both;height:40px;text-align:center}
.yy_logreg div{width:45%;line-height:40px;border:1px solid #e6e6e6;color:#f63;position:relative;display:inline-flex;text-align:center}
.yy_logreg div:hover{background:#f63;color:#fff}
.yy_logreg div a{width:100%;text-align:center}
.yy_logreg div a:hover{color:#fff}
.yy_logonred{background:#f63;color:#fff!important}
.yy_logreg div a{color:#f63}
.yy_fabu a{position:relative;clear:both;width:80%;display:block;text-align:center;line-height:40px;color:#f63;background:#e6e6e6;margin-top:10px;border:none;margin-left:auto;margin-right:auto}
.yy_fabu a:hover{background:#f63;color:#fff;border:none}
.qred{background:#f63!important;color:#fff!important}
.yy_wrapperout{position:relative;margin:0;width:100%;display:block;border-bottom:1px solid #f63;height: 40px;background: white;}
.yy_caigoudaohang{position:relative;list-style:none;float:left;left:265px;margin-top:9px}
.yy_caigoudaohang li{position:relative;width:100px;display:inline-block;line-height:27px;text-align:center;color:#000;font-size:16px;padding:2px;padding:2px}
.yy_caigoudaohang li a{color:inherit}
.yy_caigoudaohang li:hover{background:#ff3600;color:#fff}
.shouye_li_active {background: #ff3600;color: white !important;}
.yy_tjlist{margin-top:-50px;border:1px solid #f30;height:365px;overflow:hidden}
.yy_tjlist ul li{border-bottom:1px solid #e6e6e6;line-height:44px;height:39px}
.topbar{color:#666;height:30px;line-height:30px;background:#f2f2f2;position:fixed;width:100%;top:0;z-index:999999;border-bottom:1px solid #cfcfcf}
.wrapper{width:1200px;text-align:left;margin:0 auto;overflow:hidden}
.topbar .signin-info{width:52%;float:left}
.topbar .greet{padding-top:0;font-size: 12px;margin-top: 1px;}
.header a.btnSignin{margin:0 6px 0 30px}
.topbar .top-menu{float:right}
.topbar .quick-menu li.menu-item{padding:0;position:relative}
.topbar .quick-menu li{background-position:right 6px;padding-left:5px;float:left;padding-bottom:0;margin-left:5px}
.logo-area{height:140px;padding-top: 57px;background: #fff}
.logo-area .logo{width:175px;height:64px;float:left}
.logo-area .search{float:left;margin-left:481px}
.logo-area .search-input{width:540px;height:38px;border:2px solid #f63;margin-bottom: 5px;position: relative;float: left;}
.logo-area .search-input .searmiddle{width:85%;height:36px;float:left}
.input{width:100%;height:33px;line-height:33px;padding-left:2px;border-width:0;border:none;float:left;color:#000;background-color:#fff}
.logo-area .search-input .searright{width:15%;float:right}
.logo-area .search-input .searright button{width:100%;height:36px;border:none;cursor:pointer;background:#ff3600;font-size:14px}
.logo-area .search-input .searright{width:15%;float:right}
.searchInStore{display:none;margin-left:2px}
.logo-area .search-input .searchInStore button{color:#fff;background:#000}
.logo-area .search .search-more{height: 23px;font-size:14px}
.logo-area .search .search-type{width:100%;float:left}
.logo-area .search a.active{color:#ff3600}
.search-type a {color: #999999;margin-right: 5px;font-size: 12px;}
.top-menu .quick-menu li a{color:#666;cursor:pointer;padding-left:5px;padding-right:5px;padding-top:0;position:relative;z-index:10002;line-height:20px;margin-top:5px;display:block;height:25px;font-size:12px}
.top-menu .quick-menu li a:hover{color:#f63}
.topbar .menu-item:hover .menu-hd{border-right:#bfbfbf 1px solid;border-top:#bfbfbf 1px solid;background:#fff;margin:0;border-left:#bfbfbf 1px solid;border-bottom:#bfbfbf 1px}
.top-menu .quick-menu li:hover a.menu-hd{border:#bfbfbf 1px solid;border-bottom:0;margin-top:5px}
.topbar .sitemap.menu-bd{width:230px;height:140px}
.topbar .menu-item:hover .menu-bd{display:block}
.topbar .menu-bd{border-right:#bfbfbf 1px solid;border-top:#bfbfbf 1px solid;display:none;z-index:10001;background:#fff;border-left:#bfbfbf 1px solid;border-bottom:#bfbfbf 1px solid;position:absolute;top:21px}
.topbar .club.menu-bd{width:150px}
.topbar .menu-bd{line-height:22px;top:29px;right:0}
.fabuqiugou{position:relative;height:38px;width:130px;display:inline-block;border:1px solid grey;float:left;line-height:39px;text-align:center;margin-left:30px}
.fabuqiugou:hover{color:#f63;border-color:#f63;cursor:default}
.fr{float:right}
.tuijian_ul_caigou{height:304px;overflow:hidden}
.starlu-help{position:fixed;width:40px;bottom:15%;right:0;z-index:890}
.starlu-help .starlu-help-box{width:100%;margin-bottom:3px;background:#d9d9d9;text-align: center;position: relative}
.starlu-help .starlu-help-box a{display:block;height:35px;padding-top:5px;height:40px}
.starlu-help .starlu-help-box a:hover{background:#e12500;text-decoration:none}
.starlu-help .starlu-help-box .starlu-help-title,.starlu-help .starlu-help-box a:hover .asid_title{color:#fff;font-size:12px;display:block;padding-left:6px;line-height:18px;width:30px;margin-top:-2px}
.starlu-help .red-bag{background:#e12500;text-decoration:none}
.starlu-help .starlu-help-layer{border:1px solid #ccc;background:#fff;position:absolute;right:47px;bottom:-44px;padding:10px}
.sweep-img{padding:10px}
.starlu-help-triangle{width:12px;height:40px;position:absolute;right:45px;bottom:-12px;z-index:100}
.border-sj,.con-sj{display:block;width:18px;height:28px;font-size:18px;overflow:hidden;font-family:SimSun}
.border-sj{color:#ccc;font-style:normal}
.con-sj{color:#fff;margin:-14px -2px 0 0;margin:-28px 0 0 -2px}
.servies{width:180px}
.starlu-help .servies a:hover{background:0 0}
.message-num{display:none;position:absolute;top:12px;left:20px;color:#fff;border-radius:50%;background:red;border:2px solid #fff;width:22px;height:22px;line-height:18px;text-align:center}
.rmeg_error_jup,span.bring_in i{font-style:normal;color:red;padding:0 2px}
.rmeg_error_jup{float:left}
#feedbackContent{padding:0 20px}
.fb-danger-tips{color:red}
.layui-layer-title{font-weight:700}
.fb-textarea{margin:10px 0}
.fb-des-content{width:310px;height:80px;resize:none}
.btnUploadFeedback{margin-right:10px}
.fb-phone-txt{margin:5px 0}
.fb-content-tips,.fb-phone-txt{font-size:14px}
.btnUploadFeedback input[type=file]{display:none}
.uploadLabel{word-break:break-all;word-wrap:break-word}
.lazy{background:url(/Content/images/loading.gif) 50% 50% no-repeat}
.wrapper.sitemap{padding-left:20px;border:1px solid #ccc;height:30px;line-height:30px;border-bottom:0;font-size:14px;color:#999;margin-top:10px}
#txt_search_keys{ font-size: 12px;padding-left: 5px}
.icon-caret-down:before,.icon-home:before,.icon-list-ul:before,.icon-star:before{font-family:FontAwesome}
[class*=" icon-"]:before,[class^=icon-]:before{text-decoration:inherit;display:inline-block;speak:none;color:inherit!important}
[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;width:auto!important;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-banshou:before,.icon-camera:before,.icon-chezi:before,.icon-chuanlian:before,.icon-dengpao:before,.icon-fuzhi:before,.icon-gong:before,.icon-hiv:before,.icon-jiguang:before,.icon-jisuanqi:before,.icon-pacong:before,.icon-paobu:before,.icon-quanquan:before,.icon-shan:before,.icon-shandian:before,.icon-shezhi:before,.icon-shiguan:before,.icon-shoudiantong:before,.icon-shuaxin:before,.icon-shubiao:before,.icon-tuerqi:before,.icon-upload:before,.icon-xiangji:before,.icon-xianweijing:before,.icon-xiaoyu:before,.icon-yinyang:before,.icon-yixue:before,.icon-yyqx:before{font-size:36px;position:absolute;left:6px;margin-top:-9px}
.icon-jiguang:before{content:"\e900"}
.icon-shezhi:before{content:"\e901"}
.icon-dengpao:before{content:"\e902";margin-left:-3px}
.icon-xiangji:before{content:"\e903";margin-top:-5px}
.icon-gong:before{content:"\e904"}
.icon-shan:before{content:"\e905"}
.icon-fuzhi:before{content:"\e906"}
.icon-shuaxin:before{content:"\e907"}
.icon-paobu:before{content:"\e908"}
.icon-xiaoyu:before{content:"\e909"}
.icon-chezi:before{content:"\e909";color:#666767}
.icon-chuanlian:before{content:"\e90a";color:#666767}
.icon-hiv:before{content:"\e90b";color:#666767}
.icon-jisuanqi:before{content:"\e90c";color:#666767}
.icon-pacong:before{content:"\e90d";color:#666767;font-size:51px;margin-left:-7px;margin-top:-16px}
.icon-quanquan:before{content:"\e90e";color:#666767}
.icon-shandian:before{content:"\e90f";color:#666767}
.icon-shiguan:before{content:"\e910";color:#666767}
.icon-shoudiantong:before{content:"\e911";color:#666767;font-size:50px;margin-left:-5px;margin-top:-18px}
.icon-shubiao:before{content:"\e912";color:#666767}
.icon-tuerqi:before{content:"\e913";color:#666767}
.icon-upload:before{content:"\e914";color:#666767;font-size:44px;margin-left:-4px;margin-top:-11px}
.icon-camera:before{content:"\e915";color:#666767}
.icon-xianweijing:before{content:"\e916";color:#666767;font-size:41px;margin-left:-2px}
.icon-xiaoyu:before{content:"\e917";color:#666767}
.icon-yinyang:before{content:"\e918";color:#666767}
.icon-yixue:before{content: "\e91a";font-size: 20px;margin-top: -2px;left: 13px;}
.icon-yyqx:before{content: "\e919";font-size: 20px;margin-top: -2px;left: 13px;}
.nav-sub ul li p {color: inherit;font-size: 14px;line-height: 13px;font-family: '微软雅黑','Microsoft YaHei','黑体',Helvetica,Arial;}
.wenzigundong{
    position: absolute;
    display: inline-block;
    width: 206px;
}
@-webkit-keyframes wenzigd{
0%{left:100px;}
100%{left:-160px;}}
.donghua_wrap{
    overflow: hidden;
    width: 176px;
    height: 27px;
    display: inline-block;
    position: relative;
    float: right;
    margin-left: 4px;
    cursor: default;
    color: #666666;
}