<style>
.layui-layer-tips .layui-layer-content{padding:1px!important;width:250px;height:170px;background-color: #fff!important;}
.layui-layer-tips .layui-layer-content .layui-card{margin: 0px;}
.layui-layer-tips i.layui-layer-TipsL{border-bottom-color:#fff!important;}
.nav-contact {position: absolute; }
.nav-contact img{margin-top:1px;}

</style>
<!--contact部分-->
<div class="nav-contact">
    <img id="contact-telPhone" src="~/images/home/contact_1.jpg" />
    <img id="contact-mobilePhone" src="~/images/home/contact_2.jpg" />
    <img id="contact-email" src="~/images/home/contact_3.jpg" />
    <img id="contact-webchat" src="~/images/home/contact_4.jpg" />
    @*<img id="contact-reply" src="~/images/home/contact_5.jpg" />*@
</div>

