USE [NetCoreAccount]
GO

INSERT [cDba].[tenant_TenantUserApplication] ([ApplicationId], [ApplicationName], [DomainName], [AppStatus], [WebSiteName], [TenantId], [Version]) VALUES ( N'e98d7c1c-f6d8-4370-822a-c0a4377e0a59', N'统一认证系统', N'localhost:1001', 3, N'ssoapi', 2, 0)
INSERT [cDba].[tenant_TenantUserApplication] ([ApplicationId], [ApplicationName], [DomainName], [AppStatus], [WebSiteName], [TenantId], [Version]) VALUES ( N'98e6825f-7702-4a83-b194-a25442a25d7a', N'租户管理', N'localhost:1003', 3, N'adminapi', 2, 0)
INSERT [cDba].[tenant_TenantUserApplication] ([ApplicationId], [ApplicationName], [DomainName], [AppStatus], [WebSiteName], [TenantId], [Version]) VALUES ( N'd0e0d0f1-9a7e-4869-8295-da9bbc072bab', N'博客管理', N'localhost:1005', 3, N'blogapi', 2, 0)









--SET IDENTITY_INSERT [cDba].[tenant_TenantUserAppModule] ON 

--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (1, N'e98d7c1c-f6d8-4370-822a-c0a4377e0a59', N'统一认证系统', N'统一认证系统：KC.DataAccess.Account', N'KC.DataAccess.Account', 1)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (2, N'98e6825f-7702-4a83-b194-a25442a25d7a', N'租户管理', N'租户管理：KC.DataAccess.Admin', N'KC.DataAccess.Admin', 2)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (3, N'd0e0d0f1-9a7e-4869-8295-da9bbc072bab', N'博客管理', N'博客管理：KC.DataAccess.Blog', N'KC.DataAccess.Blog', 3)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (4, N'9158a492-c6ae-4c50-87a4-7adb8bb8d36d', N'配置管理', N'配置管理：KC.DataAccess.Config', N'KC.DataAccess.Config', 4)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (5, N'21e87c50-b014-40bd-add7-01c64513fd3a', N'字典管理', N'字典管理：KC.DataAccess.Dict', N'KC.DataAccess.Dict', 5)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (6, N'1f301943-268f-4940-8bfb-900e0e6e0d35', N'应用管理', N'应用管理：KC.DataAccess.App', N'KC.DataAccess.App', 6)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (7, N'8600d55b-5f73-41f8-9d06-0f65710d3d80', N'消息管理', N'消息管理：KC.DataAccess.Message', N'KC.DataAccess.Message', 7)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (8, N'45672506-ddb7-4d57-ad44-bd0ab136b556', N'账户管理', N'账户管理：KC.DataAccess.Account', N'KC.DataAccess.Account', 8)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (9, N'18cc3e21-1b74-4bcd-bc5f-ff5e1e4e6c57', N'合同管理', N'合同管理：KC.DataAccess.Contract', N'KC.DataAccess.Contract', 9)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (10, N'7b3a90ec-8311-4113-b010-88e046d4d036', N'文档管理', N'文档管理：KC.DataAccess.Doc', N'KC.DataAccess.Doc', 10)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (11, N'd96ab61d-7556-4552-98d2-b3507fbf0e55', N'人事管理', N'人事管理：KC.DataAccess.HumanResource', N'KC.DataAccess.HumanResource', 11)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (12, N'95e9e18f-0316-4c04-bedc-a8e321431c0a', N'客户管理', N'客户管理：KC.DataAccess.Customer', N'KC.DataAccess.Customer', 12)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (13, N'379dd8c7-b603-4a45-bd23-72baabee374a', N'供应商管理', N'供应商管理：KC.DataAccess.Supplier', N'KC.DataAccess.Supplier', 13)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (14, N'211d74b3-a43f-4167-8bad-924af898d570', N'商品管理', N'商品管理：KC.DataAccess.Offering', N'KC.DataAccess.Offering', 14)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (15, N'82d4aebe-45e8-46da-83ca-da3df071d96e', N'物料管理', N'物料管理：KC.DataAccess.Material', N'KC.DataAccess.Material', 15)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (16, N'ad401d87-0f1c-46de-ae3e-be4ec1c57d2c', N'门户网站', N'门户网站：KC.DataAccess.Portal', N'KC.DataAccess.Portal', 16)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (17, N'a328591d-a64d-4379-b70e-3bdd152848d1', N'销售管理', N'销售管理：KC.DataAccess.Sales', N'KC.DataAccess.Sales', 17)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (18, N'8a6cd786-582e-44bd-8f5a-e45266e0abf7', N'采购管理', N'采购管理：KC.DataAccess.Purchase', N'KC.DataAccess.Purchase', 18)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (19, N'418841db-3a2a-4c75-9f7a-c0a14f6ee756', N'仓储管理', N'仓储管理：KC.DataAccess.Warehouse', N'KC.DataAccess.Warehouse', 19)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (20, N'5a79fd6a-7dd9-45e6-b35b-ab24d32e89bb', N'融资管理', N'融资管理：KC.DataAccess.Finance', N'KC.DataAccess.Finance', 20)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (21, N'6f0b2682-cce6-4d7a-af12-a609de44eba6', N'培训管理', N'培训管理：KC.DataAccess.Training', N'KC.DataAccess.Training', 21)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (22, N'd6036537-1beb-4818-af7b-3af493e0c930', N'工作流管理', N'工作流管理：KC.DataAccess.Workflow', N'KC.DataAccess.Workflow', 22)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (23, N'9376560f-ffde-416f-b9e8-966b7a79012a', N'支付管理', N'支付管理：KC.DataAccess.Pay', N'KC.DataAccess.Pay', 23)
--INSERT [cDba].[tenant_TenantUserAppModule] ([ModuleId], [ModuleName], [Description], [AssemblyName], [ApplicationId]) VALUES (24, N'26755248-3986-4c7c-9980-e353baa85ac4', N'微信管理', N'微信管理：KC.DataAccess.Wechat', N'KC.DataAccess.Wechat', 24)
--SET IDENTITY_INSERT [cDba].[tenant_TenantUserAppModule] OFF


  select replace([DomainName], 'cDba','cTest')
  FROM [cDba].[tenant_TenantUserApplication]
  where [TenantId]=2

  --update [cDba].[tenant_TenantUserApplication] set [DomainName]= replace([DomainName], 'cDba','cTest') where [TenantId]=2
  --update [cDba].[tenant_TenantUserApplication] set [DomainName]= replace([DomainName], 'cDba','cBuy') where [TenantId]=3
  --update [cDba].[tenant_TenantUserApplication] set [DomainName]= replace([DomainName], 'cDba','cSale') where [TenantId]=4


  --update [cDba].[tenant_TenantUserApplication] set [DomainName]= 'http://' + [DomainName]


